<p>
  <b>Nome:</b>
  <%=h @paciente.nome %>
</p>

<p>
  <b>Idade:</b>
  <%=h @paciente.idade %>
</p>

<p>
  <b>Cpf:</b>
  <%=h @paciente.cpf %>
</p>

<p>
  <b>Prontuario:</b>
  <%=h @paciente.prontuario %>
</p>

<p>
  <b>Remedios:</b>
  <%=h @paciente.remedios %>
</p>

<p>
  <b>Consultas:</b>
  <%=h @paciente.consultas %>
</p>


<%= link_to 'Edit', edit_paciente_path(@paciente) %> |
<%= link_to 'Back', pacientes_path %>

